<h1>Task Item</h1>

<!-- <p>This component demonstrates fetching data from the server.</p> -->

<p *ngIf="!taskItems"><em>Loading...</em></p>

<div *ngIf="taskItems">
  <div class="button-row">
    <button class="btn btn-primary mr-1" type="button" [routerLink]='["/taskitem-add"]'>New Task</button>
  </div>
  <br>

  <table class='table table-striped' *ngIf="taskItems">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taskItem of taskItems">
        <td>{{ taskItem.id }}</td>
        <td>{{ taskItem.title }}</td>
        <td>{{ taskItem.isComplete }}</td>
        <td width="250">                
            <button type="button" class="btn btn-danger mr-1">Delete</button>
            <a [routerLink]='["/taskitem-edit/", taskItem.id]'>
              <button type="button" class="btn btn-primary">Edit</button>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>