<h1> Edit </h1>

<form [formGroup]="taskItemFormEdit" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <!-- <label class="col-md-1">Title </label> -->
    <input type="text" name="title" id="isComplete" formControlName="title">
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="isComplete" id="isComplete" formControlName="isComplete">
    <label class="form-check-label" for="isComplete">Status</label>
  </div>

  <input type="submit" class="btn btn-primary mt-4" style="margin-right: 5px" value="Update">
  <a [routerLink]="['/taskitem-list']">
    <button type="submit" class="btn btn-primary mt-4">Back</button>
  </a>
</form>